@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'poppins',sans-serif;
}

body{
    background-color: #121212;
}

.container{
    position: relative;
    width: 920px;
    background-color: #333;
    height: 845px;
    left: 500px;
    top: 40px;
    border-radius: 15px;

}

.container img{
    padding: 25px;
    border-radius: 5px;
}

.container h2{
    position: relative;
    padding: 25px;
    top: -477px;
    font-size: 38px;
    left: 320px;
    color: #fdfdfd;
}

.title{
    width: 600px;
    height: 600px;
}

.title p{
    position: relative;
    padding: 25px;
    top: -450px;
    color: #fdfdfd;
    left: 320px;
    text-align: justify;
}


.container2{
    position: relative;
    width: 300px;
    height: 320px;
    background-color: #121212;
    top: -632px;
    left: 25px;
    border-bottom-left-radius: 15px ;
    border-bottom-right-radius: 15px ;
}

.l1{
    position: relative;
    left: 5px;
    width: 290px;
    height: 1px;
    background-color: #666;
    top: 45px;
}
._1 h5{
    /* padding: 25px; */
    position: relative;
    left: 25px;
    font-size: 20px;
    color: #555;
    top: 50px;
}
._1 p{
    position: relative;
    left: 25px;
    font-size: 14px;
    color: #666;
    top: 50px
}

.l2{
    position: relative;
    left: 5px;
    width: 290px;
    height: 1px;
    background-color: #666;
    top: 65px;
}

._2 h5{
    /* padding: 25px; */
    position: relative;
    left: 25px;
    font-size: 20px;
    color: #555;
    top: 70px;
}
._2 p{
    position: relative;
    left: 25px;
    font-size: 14px;
    color: #666;
    top: 70px
}

.l3{
    position: relative;
    left: 5px;
    width: 290px;
    height: 1px;
    background-color: #666;
    top: 80px;
}

._3 h5{
    /* padding: 25px; */
    position: relative;
    left: 25px;
    font-size: 20px;
    color: #555;
    top: 85px;
}
._3 p{
    position: relative;
    left: 25px;
    font-size: 14px;
    color: #666;
    top: 85px
}

.l4{
    position: relative;
    left: 5px;
    width: 290px;
    height: 1px;
    background-color: #666;
    top: 95px;
}

._4 h5{
    /* padding: 25px; */
    position: relative;
    left: 25px;
    font-size: 20px;
    color: #555;
    top: 100px;
}
._4 p{
    position: relative;
    left: 25px;
    font-size: 14px;
    color: #666;
    top: 100px;
}

.l5 {
    position: relative;
    width: 560px;
    height: 1px;
    background-color: #666;
    left: 345px;
    top: -953px;
}

.container3 h2{
    position: relative;
    top: -970px;
    font-size: 20px;
    color: #555;
}

.ac1 img{
    position: relative;
    top: -1086px;
    width: 50px;
    height: 73px;
    left: 320px;
}

.square{
    position: relative;
    width: 200px;
    height: 73px;
    background-color: #121212;
    left: 395px;
    top: -988px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}

.ac1 h2{
    position: relative;
    top: -1210px;
    font-size: 14px;
    color: #666;
    left: 380px;
}