<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Home page: Movies</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='../static/index.css'>
    <link rel="icon" type="image/x-icon" href="../static/imgs/logos/logo_transparent2.png">

</head>
<body>
    <div class="container">
        <div class="navbar">
            <!-- <h2>Moovie</h2> -->
            <img src="../static/imgs/logos/logo_transparent2.png" class="logo">
            <form action="loginpage">
                <div class="login">
                    <button>Log In</button>
                </div>
            </form>
            
            <form action="signuppage">
                <div class="signup">
                    <button>Sign Up</button>
                </div>
            </form>

        </div>
        
        <div class="row">
            <div class="col">
                
                <h1>Moovie</h1>
                
            </div>

            <div class="col">
                <a href="{{url_for("loginpage")}}" target="_blank"> 
                <div class="card ">
                    <img src="{{ choiced[0] }}" alt="">
                </div>
                
                <div class="card ">
                    <img src="{{ choiced[1] }}" alt="">

                </div>
                   
                <div class="card ">
                    <img src="{{ choiced[2] }}" alt="">

                </div>
                    
                <div class="card">
                    <img src="{{ choiced[3] }}" alt="">

                </div>
                
                
                <div class="card ">
                    <img src="{{ choiced[4] }}" alt="">

                </div>
                

                <div class="card ">
                    <img src="{{ choiced[5] }}" alt="">

                </div>
                
                <div class="card ">
                    <img src="{{ choiced[6] }}" alt="">

                </div>
                

                <div class="card ">
                    <img src="{{ choiced[7] }}" alt="">

                </div>
                

                <div class="card ">
                    <img src="{{ choiced[8] }}" alt="">

                </div>
                
            </div>
        </div>
    </div>
</body>
<script>
    function changeBackgroundImage() {
        
    var cardElement = document.querySelector(".card3");

    var newImageURL = "https://m.media-amazon.com/images/M/MV5BOGNmZjY3ZGMtMjZkYS00NzU1LThlMjEtZjcyMTczNjIwMTFmXkEyXkFqcGdeQXVyMTQxMzI2NTEz._V1_SX300.jpg";
    cardElement.style.backgroundImage = `url('${newImageURL}')`;
}
</script>
</html>