<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Login: Movies</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='../static/login.css'>
    <link rel="shortcut icon" href="../static/imgs/logos/logo_transparent2.png" type="image/x-icon">
</head>
<body>
    <section>
        <div class="form-box">

            <div class="form-value">

                <form action="/login" method="POST">
            
                    <div class="login-form">
            
                        <h2>Log In</h2>

                        {% with messages = get_flashed_messages() %}
                            {% if messages %}
                                {% for message in messages %}
                                    <div class="alert">{{ message }}</div>
                                {% endfor %}
                            {% endif %}
                        {% endwith %}  

                        <div class="inputbox">
                            <input type="text" name="username" placeholder="Username" autocomplete="off">
                        </div>

                        <div class="inputbox">
                            <input type="password" name="password" placeholder="Password" id="password" autocomplete="off">
                            <img src="../static/imgs/eyes/eye-open_black.png" id = 'eyeicon'>
                        </div>
                
                        <div class="forget">
                            <a href="{{url_for("forgetpass")}}">Forget Password</a>
                        </div>      

                        <div class="register">
                            <p>Don't have an accout <a href="{{url_for("signuppage")}}">Register</a></p>
                        </div>

                        <button>Log In</button>

                        <div class="p-logwithme">
                                <hr>
                            </div>

                        <div class="icons">
                            <a href="#"><ion-icon name="logo-facebook"></ion-icon></a>
                            <a href="#"><ion-icon name="logo-instagram"></ion-icon></a>
                            <a href="#"><ion-icon name="logo-twitter"></ion-icon></a>
                            <a href="{{url_for("googlelogin")}}"><ion-icon name="logo-google"></ion-icon></a>
                            <a href="#"><ion-icon name="logo-skype"></ion-icon></a>
                        </div>

                    </div>

                </div>
    
            </div>
    
        </form>

    </section>
    <script src="https://unpkg.com/ionicons@5.4.0/dist/ionicons.js"></script>
    <script>
        let eyeicon = document.getElementById('eyeicon');
        let password = document.getElementById('password');
        eyeicon.onclick = function(){
            if(password.type == 'password'){
                password.type = 'text';
            }else{
                password.type = 'password';
            }
        }
    </script>
</body>
</html>