<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Moovie</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel="shortcut icon" href="../static/imgs/logos/logo_transparent2.png" type="image/x-icon">
    <link rel='stylesheet' type='text/css' media='screen' href='../static/movie_details.css'>
</head>
<body>
    <div class="container">

        <div class="card">
            <img src="https://m.media-amazon.com/images/M/MV5BNDIzMzcxZGItNzc3Ny00MWQ3LWEzZDItZTRlMGJmZjU5N2JkXkEyXkFqcGdeQXVyMTA0NTY0NTYy._V1_SX300.jpg	">
            
        </div>
        <div class="title">
            <H2>Young Mother 3</H2>
            <p>Twenty year-old Ki-chan lives alone with his father. One day Yoon-seo (Kim Jeong-ah), his stepmother comes to live with them. She tries to be friendly with Ki-chan but he appraoches her as a woman and starts showing her that. Yoon-seo strongly rejects him but he knows that she wants him too. Their relationship turns into something dangerous. Then one day, Min-jeong, who has had a crush on Ki-chan for a long time, finds out what is going on between the two. The young stepmother fools her husband and falls in love with his son and the son falls in love with his father's woman. They make a deal with Min-jeong to make sure she doesn't say anything.</p>
        </div>
        <div class="actors">
            <h2>Actors</h2>
            <img src="https://image.tmdb.org/t/p/w500/2sQ6kQTsJDGZH0eNx8HvAWIBeeB.jpg">
            <h3>Jeong-Ah Kim</h3>
            <img src="https://image.tmdb.org/t/p/w500/kYA33StozEuDeDam5hmslGBA26I.jpg">
            <h3>Yo-sep Song</h3>
            <img src="https://image.tmdb.org/t/p/w500/1g4OYoBZxIsIYBvZQ1W2wn21LJJ.jpg" alt="">
            <h3>Yeong-ah</h3>
        </div>
    </div>
</body>
</html>