<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Results</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='../static/rezultate_cutare.css'>
    <link rel="shortcut icon" href="../static/imgs/logos/logo_transparent2.png" type="image/x-icon">
    <script src="../static/main2.js"></script>
</head>
<body>
    <div class="text">
        <h1>Search results</h1>
    </div>

    <div class="cards">
        <div class="card card1">
            <a href="{{url_for("movie_details")}}" id="{{ ids[0] }}">
  
              <img src="{{ l_img[0] }}" alt="Card Image">
          </a>
          </div>
        
          <div class="card card1">
            <a href="{{url_for("movie_details")}}" id="{{ ids[1] }}">
  
              <img src="{{ l_img[1] }}" alt="Card Image">
          </a>
          </div>

          <div class="card card1">
            <a href="{{url_for("movie_details")}}" id="{{ ids[2] }}">
  
              <img src="{{ l_img[2] }}" alt="Card Image">
          </a>
          </div>

          <div class="card card1">
            <a href="{{url_for("movie_details")}}" id="{{ ids[3] }}">
  
              <img src="{{ l_img[3] }}" alt="Card Image">
          </a>
          </div>

          <div class="card card1">
            <a href="{{url_for("movie_details")}}" id="{{ ids[4] }}">
  
              <img src="{{ l_img[4] }}" alt="Card Image">
          </a>
          </div>

          <div class="card card1">
            <a href="{{url_for("movie_details")}}" id="{{ ids[5] }}">
  
              <img src="{{ l_img[5] }}" alt="Card Image">
          </a>
          </div>

          <div class="card card1">
            <a href="{{url_for("movie_details")}}" id="{{ ids[6] }}">
  
              <img src="{{ l_img[6] }}" alt="Card Image">
          </a>
          </div>

          <div class="card card1">
            <a href="{{url_for("movie_details")}}" id="{{ ids[7] }}">
  
              <img src="{{ l_img[7] }}" alt="Card Image">
          </a>
          </div>

          <div class="card card1">
            <a href="{{url_for("movie_details")}}" id="{{ ids[8] }}">
  
              <img src="{{ l_img[8] }}" alt="Card Image">
          </a>
          </div>

          <div class="card card1">
            <a href="{{url_for("movie_details")}}" id="{{ ids[9] }}">
  
              <img src="{{ l_img[9] }}" alt="Card Image">
          </a>
          </div>

          <div class="card card1">
            <a href="{{url_for("movie_details")}}" id="{{ ids[10] }}">
  
              <img src="{{ l_img[10] }}" alt="Card Image">
          </a>
          </div>

          <div class="card card1">
            <a href="{{url_for("movie_details")}}" id="{{ ids[11] }}">
  
              <img src="{{ l_img[11] }}" alt="Card Image">
          </a>
          </div>

          <div class="card card1">
            <a href="{{url_for("movie_details")}}" id="{{ ids[12] }}">
  
              <img src="{{ l_img[12] }}" alt="Card Image">
          </a>
          </div>

          <div class="card card1">
            <a href="{{url_for("movie_details")}}" id="{{ ids[13] }}">
  
              <img src="{{ l_img[13] }}" alt="Card Image">
          </a>
          </div>
    </div>

  

</body>
</html>